body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.6;
    font-size: 1rem;

}

.section-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 2.25rem;
    color: #FFF;
    border-radius: 25px;
    background: #000000;
    display:inline-block;
    padding: 15px 150px;
    width: 900px;
}

.text-center {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.list {
    text-align: left;
    font-size: larger;
    font-weight: 900;
}

.intro {
  font-size: 1.2rem;
  width: fit-content;
}

canvas{ 
    display: block; 
    vertical-align: bottom; 
} 

/* ---- particles.js container ---- */ 
#particles-js { 
    position: relative; 
    width: 100vw; 
    height: 60vh; 
    background-color: #b61924; 
    background-image: url(""); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%; 
    text-align: center;
    color: #fff;
    padding: 100px 20px;
    justify-content: center;
    font-family: "Walter Turncoat", serif;
    font-weight: 400;
    font-style: normal;
}

#particles-js h2 {
    font-size: 5em;
}

#particles-js p {
    font-size: 3em;
}


.header {
    font-family: "Knewave", serif;
    font-weight: 440;
    font-style: normal;
    z-index: 1;
    text-align: center;
    color:#FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    .site-title {
      font-size: 50px;
      display: block;
      line-height: 1;
      color: #FFF;
      @media only screen and (min-width:$cut){
        margin: 0;
        font-size: 76px;
      }
    }
    .site-description {
      font-size: 20px;
      display: block;
      line-height: 1;
      color: #FFF;
      margin-top: 10px;
      @media only screen and (min-width:$cut){
        font-size: 34px;
      }
    }
  }

.content {
    position: relative;
    z-index: 2;
    text-align: center;
    padding-top: 50px;
  }


.button {
    font-family: "Rubik Dirt", system-ui;
}

li {
    text-align: left;
    font-weight: 300;
    font-size: larger;
    padding: 0px 10px;
}

.key {
    color: red;
    font-weight: bolder;
}




footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.custom-popover {
    --bs-popover-max-width: 400px;
    --bs-popover-border-color: var(--bs-red);
    --bs-popover-header-bg: var(--bs-red);
    --bs-popover-header-color: var(--bs-white);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
  }

  
